*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

header{ width: 100%;
padding: 10px;
background: rgba(238, 82, 83,1.0);

}
.container{
    width: 80%;
overflow: hidden;
margin: 0 auto;

}
.logo{ 
    font-family:'Poppins', sans-serif;
    font-weight: 200;
    color: rgb(253, 255, 255);
    font-size: 20px;
    padding: 8px;
    padding-left: 100px;
}

span{ 
    color:#130f40 ;
}
#para{
    font-size: 12px;
    font-family: 'Caveat', cursive;
    font-size: 18px;
    line-height: 13px;
    padding: left 100px; ;
}
.banner{ 
    width: 100%;
    height: 800px;
    background: linear-gradient(rgba(238, 82, 83, 0.5), rgba(238, 82, 83, 0.3)),url(../images/institute.jpg) ;
    /* background-repeat: no-repeat; */
    block-size: cover;
    background-position: center center;
    border-bottom:rgba(116, 125, 140, 1.0) ;

}
#head{color:#f5eeee;
font-size: 60px;
font-family: 'Roboto', sans-serif;
font-weight: 700;
margin-top: 20px;
padding-left: 500px;


}
#para2{ color: aliceblue;
font-size: 20px;
margin-top: 20px;
line-height: 25px;
padding-left:500px;

}
.menu{overflow: hidden;
    float: right;
    margin-right: 15px;
    margin-top: -50px;

}
.menu ul{float: right;
margin: 0;
}
.menu ul li{ display: inline-block;
    color: #f5eeee;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    transition: 0.5s;
    }
.menu ul li:hover{ color: rgb(157, 221, 250);}  
a{ text-decoration:none ;
    columns: #fff;
}
#info{ width: 100%;
margin-top: 50px;
margin-bottom: 30px;
}
.main{ 
width: 500px;
overflow: hidden;
padding: 50px;

}
.main h2{ font-family: 'Poppins', sans-serif;
margin-bottom: 15px;

}
.marin p{ font-size: 12px;
font-family:Arial, Helvetica, sans-serif;
line-height: 20px;
}
.container1{
    width: 100%;
    overflow: hidden;
    padding: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.buttn{
    width: 230px;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn1, .btn2{
    width: 100px;
    padding: 10px 15px;
    background: #ff0;
}
.btn1 p a,.btn2 p a 
   { color: black;
}
.btn2{ background: transparent;}   

.btn1 p,.btn2 p{
    font-size: 10px;
    text-transform: capitalize;
    text-align: center;
}         
.btn2{border: 1px solid;

}

#data{
width: 100%;
margin-top: 50px;
margin-bottom: 30px;
border-color: #881a32;
color: #fff;
}
